@model PostsListViewModel
@{ 
    Layout = "_AdminLayout";
}

@if (TempData["message"] != null)
{
    <div class="alert">@TempData["message"]</div>
}

@foreach (var post in Model.Posts)
{
    <div class="blog-post">
        <h3>@post.Title  <small>- Published : @(post.Published == true ? "Yes" : "No")</small></h3>
        <div class="callout">
            <ul class="menu simple">
                <li>Edit</li>
                <li>
                    <form asp-action="DeletePost" method="post">
                        <input type="hidden" name="PostID" value="@post.PostId" />
                        <button type="submit" class="button rounded">Delete</button>
                    </form>
                </li>
                <li>Publish</li>
            </ul>
        </div>
    </div>
}