<!DOCTYPE html>

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project: CoreBlog</title>
        <link rel="stylesheet" asp-href-include="~/foundation/css/foundation.min.css" />
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">Yeti Agency</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="/Account/Login" class="button rounded bordered shadow">Log In</a></li>
                </ul>
            </div>
        </div>
        <div class="callout large primary">
            <div class="row column text-center">
                <h1>Project: CoreBlog</h1>
            </div>
        </div>
        <article class="grid-container">
            <div class="grid-x grid-margin-x" id="content">
                <div class="medium-9 cell">
                    @RenderBody()
                </div>
                <div class="medium-3 cell" data-sticky-container>
                    <div class="sticky" data-sticky data-anchor="content">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Skyler</a></li>
                            <li><a href="#">Jesse</a></li>
                            <li><a href="#">Mike</a></li>
                            <li><a href="#">Holly</a></li>
                        </ul>
                        <h4>Authors</h4>
                        <ul>
                            <li><a href="#">Skyler</a></li>
                            <li><a href="#">Jesse</a></li>
                            <li><a href="#">Mike</a></li>
                            <li><a href="#">Holly</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="~/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>