@model Post

    <div class="blog-post">
        <h3><a asp-action="ViewPost" asp-route-id="@Model.UrlSlug">@Model.Title</a><small> - @Model.PostCreatedAt</small></h3>
        <p>@Model.ShortContent</p>
        <div class="callout">
            <ul class="menu simple">
                <li><a href="#">Author: Mike Mikers</a></li>
                <li><a href="#">Comments: 3</a></li>
            </ul>
        </div>
    </div>